<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="ScribeLogger.IsEnabled" value="true" />
    <add key="ScribeLogger.LogEntryCategories" value="None=true,Trace=true,Event=true,Alert=true,Execution=true,All=true" />
    <add key="ProcessSupport.IsLogRowDataEnabled" value="false" />
    <add key="ProcessSupport.IsLogRowSuccessEnabled" value="false" />
    <add key="ProcessSupport.IsTraceEnabled" value="False" />
    <add key="ScribeLogger.LogEntrySeverities" value="None=True,Debug=True,Info=True,Warning=True,Error=True,Fatal=True" />
  </appSettings>
</configuration>
